# Python
__pycache__/
*.py[cod]
*.so
.env
.venv
venv/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
.next/
out/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
docker-data/

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Build
dist/
build/

# Local
.env.local
.env.production
