SECRET_KEY=CHANGE_ME

DEBUG=True

POSTGRES_DB=samanak
POSTGRES_USER=samanak
POSTGRES_PASSWORD=samanak
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=changeme123

ELASTICSEARCH_URL=http://elasticsearch:9200
